---
---

@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:200,400,700|Lato:400,600')

$title-font: 'Lato'
$text-font: 'Source Serif Pro'
$blog-color: #ff5252
$secondary-color: #319999
$tertiary-color: #B8EE4D
$text-color: #333333
$secondary-text-color: #afafaf

h1, h2, h3, h4, h5, h6
  color: $blog-color
  font-family: $title-font, serif

p, li
  color: $text-color
  font-family: $text-font, sans-serif

blockquote
  font-style: italic
  line-height: 1.5

hr
  border-width: 0.5px
  border-color: $secondary-color
  margin: 50px

.back-button

  text-decoration: none

  h2
    font-family: $text-font, sans-serif
    font-weight: 200
    font-size: 1.5em

.home
  width: 50%
  margin: auto

.banner
  color: $blog-color
  line-height: 0.7

  .home-title
    font-size: 3em
    display: inline-block

  .home-secondary-title
    font-family: $text-font, sans-serif
    font-weight: 200
    font-size: 0.9em
    display: inline-block

.post-list
  list-style-type: none
  line-height: 2

a
  font-family: $title-font
  text-decoration: none
  color: $secondary-color

.post
  width: 50%
  margin: auto
  color: black
  font-size: 1.1em


  h1, h2, h3, h4, h5, h6
    line-height: 1.2

  p, li
    line-height: 1.8

  img
    width: 100%
    margin: auto

  a
    font-family: $text-font


td
  padding-top: 7px
  padding-bottom: 7px
  font-family: $title-font
  margin: 0px

.post-home-date
  padding-right: 60px
  color: $text-color

.post-home-title
  color: $secondary-color

.post-date
  color: $secondary-text-color

.post-title
  font-size: 2.3em

.post-footer
  text-align: center
  margin: 50px

  a
    font-family: $title-font
    color: $blog-color

.home-page-link
  display: inline
  margin-right: 10px

.flexcontainer
  padding: 5%